<div id="Footer" class="mt-5">
    <div>
        <p>© Carlos Sánchez. All rights reserved.</p>
        <a href="https://www.linkedin.com/in/carlos-sanchez-37b74a172/">Linkedin</a> -
        <a href="https://github.com/IchCarlos">GitHub</a>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="./myscript.js"></script>
</body>
</html>