<%- include("partials/header.ejs") %>
<div id="Contact" class="py-5">
    <h2 class="titleh2">Get in touch!</h2>
    <p>Feel free to send me an E-mail 🙂</p>
    <img src="./Images/email.png" alt="Email logo"/>
    <p>carlos.sanchez93@gmail.com</p>
</div>
<%- include("partials/footer.ejs") %>