<%- include("partials/header.ejs") %>

<div id="Intro">
    <h1>Carlos Sánchez</h1>
    <img src="./Images/CarlosSanchez.jpg" width="200px" alt="Carlos' Picture" />
    <div>
        <h2>Summary</h2><br/>
        <p>Bilingual <b>Electronic Engineer</b> graduated from Universidad del Valle, with more than 6 years of work experience in fields like: Electronic instrumentation, automation, programming, maintenance and testing devices, software support, development and implementation of electronic systems, Staff and laboratory management.</p>
        <br />
        <p>High disposition and facility to learn, always open to advice which could help me grow as a person and as a professional, capability to work with multi-disciplinary teams, excellent interpersonal relationships and communication skills. I am someone honest, respectful, committed, responsible, patient and very dedicated.</p>
    </div>
    
</div>

<div id="Education" class="py-5">
    <h2 class="titleh2">Education</h2>
    <div>
        <img src="./Images/UnivalleLogo.png" height="70px" alt="Univalle Logo"/>
        <ul>
            <li>
                <p>
                    B.Sc. Electronic Engineer 2011 - 2017  <br/>
                    Universidad del Valle Cali - Colombia
                </p>
            </li>
        </ul>
    </div>
</div>


<div id="WorkExperience" class="py-5">
    <h2 class="titleh2">Work Experience</h2>
    <div>
        <img src="./Images/Cafeto.png" alt="Cafeto Logo"/>
        <div>
                <p>
                    <b>Cafeto Software SAS 2020/02/13 - Present <br/>
                    Cali, Colombia Position: Software Engineer, Product Support</b>
                </p>
                <p><b>Performed Tasks:</b> Provide support to applications developed by Cafeto Software for different customers like Colombo, Cropswap, Liw, Exsitu, Creslane and other parties like Infocyte (24/7 on-call support).</p>
                <ul>
                    <li>Tracking and resolution of issues according to our customers' requirements, making the respective validation and verification through the databases, connectivity, applications level, level logs, GUI-level configurations and support articles.</li>
                    <li>Establish communication with our customers via Slack, Email, Teams, Zendesk, Intercom and Jira.</li>
                    <li>Management of projects, tasks and tickets via Jira, Trello, Monday.com and Zendesk, Issues escalation, management and generation of documentation via Confluence.</li>
                    <li>Management of servers, databases, review of logs, verification of indicators and dashboards hosted in Azure and Amazon.</li>
                    <li>Generation of operation reports for customers, providing relevant information about infrastructure behaviour using KPIs and charts, logs summary, and maintenance.</li>
                    <li>Daily Scrum.</li>
                </ul>

        </div> 
    </div>   
    <div>
        <img src="./Images/6connexLogo.jpeg" alt="6Connex Logo"/>
        <div>
            <p>
                <b>6Connex 2020/08/01 - Present <br/>
                Cali, Colombia Position: Support Engineer</b>
            </p>
            <p><b>Performed Tasks:</b> Support L1 and L2 (24/7), system management and application monitoring.</p>
            <ul>
                <li>Analysis, replication, management and resolution of technical issues.</li>
                <li>Attention, management and tracking tickets adhere to SLAs (Service Level Agreements) promoting excellent customer experiences.</li>
                <li>Resolutions and guidance of customer's questions, onboarding process.</li>
                <li>Generation of articles and reports regarding the management and resolutions of issues on the platform.</li>
                <li>Infrastructure Monitoring.</li>
                <li>Integration management with Cyclr and n8n, integrating systems such as Jira, Pendo, Hubspot, Monday.com, Salesforce and other internal systems.</li>
                <li>Building, configuration and integration of Jira projects, dashboard generation.</li>
                <li>Manual unit testing, integration testing, system testing and UAT.</li>
                <li>Application of HTML, CSS and JS to perform updates in the look and functionality of the web pages.</li>
            </ul>
        </div>
    </div>
    <div>
        <img src="./Images/DrelerLogo.jpg" alt="Dreler Logo"/>
        <div>
            <p>
                <b>Dreler SAS 2018/07/10 - 2020/02/12 <br/>
                Cali, Colombia Position: Support Engineer</b>
            </p>
            <p><b>Performed Tasks:</b></p>
            <ul>
                <li>Coordination of technical personnel for maintenance.</li>
                <li>Assembly, quality control and testing of devices with artificial vision.</li>
                <li>Programming a Raspberry to control a meteorological station to generate a climate data record.</li>
                <li>Technical support and troubleshooting on developed devices.</li>
                <li>DB management.</li>
            </ul>
        </div>
    </div>
    <div>
        <img src="./Images/IngnovationLogo.jpeg" alt="Ingnovation Logo"/>
        <div>
            <p>
                <b>Ingnovation 2017/03/03 - 2018/07/09<br/>
                Cali, Colombia Position: Technical and Development area coordinator.</b>
            </p>
            <p><b>Performed Tasks:</b></p>
            <ul>
                <li>Automation of industrial processes (Laminator and paper rewinder).</li>
                <li>Instrumentation to control industrial sensors.</li>
                <li>Organization, maintenance and management of laboratory equipment.</li>
                <li>Coordinator of projects.</li>
                <li>Coordinator of staff.</li>
                <li>Soldering of electronic components true hole and SMD.</li>
                <li>Programming of electronic devices based on ATmega and PIC.</li>
                <li>Programming interfaces to control electrical systems.</li>
                <li>Price assessment of projects.</li>
                <li>Hardware and software design.</li>
                <li>Maintenance of CCTV and biometric equipment.</li>
            </ul>
        </div>
    </div>
    <div>
        <img src="./Images/DrelerLogo.jpg" alt="Dreler Logo"/>
        <div>
            <p>
                <b>Dreler 2015/08/15 - 2017/02/28<br/>
                Cali, Colombia Position: Hardware Technical Assistant.</b>
            </p>
            <p><b>Performed Tasks:</b></p>
            <ul>
                <li>Design and implementation of signal acquisition circuits for infrared, thermal and pressure sensors.</li>
                <li>Operation and maintenance of 3D printers.</li>
                <li>Design and construction of motor controllers through RF communication.</li>
                <li>Testing and maintenance of electronic devices designed by the company.</li>
                <li>Eagle design of developed systems.</li>
                <li>Programming of electronic devices based on ATmega and Rabbit.</li>
                <li>3D modeling.</li>
            </ul>
        </div>
    </div>
</div>


<div id="Skills" class="py-5">
    <h2 class="titleh2">Skills</h2>
    <h3>Languages:</h3>
    <p>
        <b>Spanish:</b> Native.<br/>
        <b>English:</b> Advanced.<br/>
        <b>German:</b> Beginner.
    </p>
    <br/>
    <h3>Programs and Technologies:</h3>
    <p>Word, Excel, Power Point, Proteus, Quartux, Eagle, Matlab, Zoho Reports, Rhinoceros, Atmel Studio, Cura, Arduino, MySQL, Source Tree, C, Dynamic C, HTML, CSS, JS, GitHub, Powershell, Visual Studio, Jira, Confluence, Slack, Trello, Zendesk, Intercom, Pager Duty, Rappid7, Amazon Cloudwatch, Pendo, Monday.com, n8n, Eclipse, Cyclr y Hubspot.</p>
</div>

<div id="Certifications" class="py-5 mb-5">
    <h2 class="titleh2">Certifications and Achievements</h2><br/>
    <ul>
        <li><b>Crash Course on Python:</b> Course by Google. 24/06/2024</li>
        <li><b>ISTQB Foundation Level:</b> 8 hours Course by Udemy. 11/05/2024</li>
        <li><b>Jr Penetration Tester Learning Path:</b> Course by TryHackMe. 06/2023</li>
        <li><b>Web Fundamentals Learning Path:</b> Course by TryHackMe. 05/2023</li>
        <li><b>Introduction to Cyber Security Learning Path:</b> Course by TryHackMe. 04/2023</li>
        <li><b>Pre Security Learning Path:</b> Course by TryHackMe. 11/04/2023</li>
        <li><b>Databases for Developers: Foundations:</b> Course by Oracle. 08/2022</li>
        <li><b>Cloud Computing:</b> 40 hours course by Google Actívate. 29/07/2022</li>
        <li><b>Measurement of electric engines:</b> 8 hours course by Red Colombiana de Eficiencia Energética RECIEE in the University Autónoma de Occidente. Cali, Colombia.  11/12/2017.</li>
        <li><b>Application of sensors in electronic circuits in the industry:</b> 40 hours course by National Learning Service SENA. Cali, Colombia 01/03/2017.</li>
        <li><b>Prototype of electromechanical system for hand rehabilitation</b> through active and passive therapies, controlled by an interface with Access control, where the information is stored in a DB (Thesis).</li>
        <li><b>Applied physics in electricity:</b> 40 hours course by CREF. 01/09/2010</li>
    </ul>
</div>

<%- include("partials/footer.ejs") %>